* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 990px;
}
main section {
  vertical-align: text-top;
  display: inline-block;
}
h3 {
  height: 25px;
  text-align: center;
  border: 1px solid black;
  margin: 5px 0px;
  background: lightgray;
  border-radius: 7px;
}
.hours h3 {
  width: 75px;
}
.hours p {
  height: 30px;
  width: 75px;
  text-align: center;
  background: yellow;
  box-shadow: 0px 0px 0px 1px black inset;
  border-radius: 5px;
}
.day h3 {
  width: 125px;
}
.day p {
  width: 125px;
  height: 15px;
  box-shadow: 0px 0px 0px 1px black inset;
}
footer {
  position: absolute;
  bottom: 10px;
  min-width: 990px;
}
footer h2 {
  display: inline-block;
  height: 30px;
  width: auto;
  padding: 0px 5px;
  box-shadow: 0px 0px 0px 1px black inset;
  border-radius: 5px;
}
header {
  position: absolute;
  top: 10px;
  min-width: 990px;
}
header section {
  display: inline-block;
  height: 30px;
  margin: 0px 5px;
}
header section h2 {
  width: auto;
  padding: 0px 5px;
  box-shadow: 0px 0px 0px 1px black inset;
  border-radius: 5px;
}
header section p {
  text-align: center;
  width: 100px;
}
main section:nth-last-child(1) p:nth-child(even),
main section:nth-last-child(2) p:nth-child(even),
main section:nth-last-child(3) p:nth-child(even),
main section:nth-last-child(4) p:nth-child(even),
main section:nth-last-child(5) p:nth-child(even),
main section:nth-last-child(6) p:nth-child(even),
main section:nth-last-child(7) p:nth-child(even){
  border-radius:  8px 8px 0 0 ;
}
main section:nth-last-child(1) p:nth-child(odd),
main section:nth-last-child(2) p:nth-child(odd),
main section:nth-last-child(3) p:nth-child(odd),
main section:nth-last-child(4) p:nth-child(odd),
main section:nth-last-child(5) p:nth-child(odd),
main section:nth-last-child(6) p:nth-child(odd),
main section:nth-last-child(7) p:nth-child(odd){
  border-radius:  0 0 8px 8px;
}